* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';
    margin: 2rem auto;
}

/* site navigation */
header,
main {
    margin-left: 1rem;
    margin-right: 1rem;
}

.site-navigation,
.about-fylo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 75rem;
    width: 100%;
    padding: 1rem;

}

.site-navigation img {
    max-width: 6rem;
    flex: 1 1;
}

.site-navigation nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 2rem;
    flex: 1 1;
    color: #585989;
    font-size: 0.9rem;
    padding: 0.5rem;
    font-family: 'Raleway';
}

.site-navigation nav a {
    text-decoration: none;
    font-weight: 500;
}


/* Main get started section */

.about-fylo {
    justify-content: space-between;
}

.about-fylo .fylo-information {
    max-width: 25rem;
    width: 100%;
    margin-top: 2rem;
    font-family: 'Raleway';
}

.about-fylo .fylo-information h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #070439;
}

.about-fylo .fylo-information p {
    line-height: 1.4;
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 1rem;
    color: #585989;
}

.illustration-one img,
.illustration-two img {
    max-width: 30rem;
}

.illustration-one {
    margin-top: 2rem;
}

.form-input {
    margin-top: 1rem;
}

.form-input #email {
    padding: 0.4rem 1rem;
    text-align: left;
    color: #585989;
    border: 1px solid #585989;
}

.form-input button {
    padding: 0.46rem 1rem;
    background-color: #3065f8;
    color: #fff;
    border: 1px solid #3065f8;
    font-size: 0.8rem;
    margin-left: 0.4rem;
}

.form-input #email:hover,
button:hover {
    cursor: pointer;
}

/* Fylo-productivity */

.fylo-productivity {
    margin-top: 3rem;
    font-family: 'Raleway';
}

.fylo-container {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 75rem;
    width: 100%;
}

.about-file .about-file h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #070439;
}

.about-file {
    max-width: 25rem;
    width: 100%;
}

.about-file p {
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 1rem;
    color: #585989;
    line-height: 1.5;
}

.fylo-works {
    margin-top: 1rem;
    display: flex;
}

.fylo-works a {
    font-size: 0.8rem;
    font-weight: 550;
}

.fylo-works img {
    margin-left: 0.2rem;
}

.fylo-works a:hover {
    color: green;

}

.kyle-quotes {
    margin-top: 1.5rem;
    background-color: #f6f6fe;
    padding: 1.5rem;
    max-width: 20rem;
    width: 100%;
    border-radius: 0.5rem;
    box-shadow:
        0 4px 6px -1px hsla(240, 40%, 15%, 0.05),
        0 10px 15px -3px hsla(240, 40%, 15%, 0.08);
}

.kyle-info {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.about-kyle {
    text-align: left;
    align-self: center;
}

.about-kyle p {
    margin-top: 0.3rem;
    font-size: 0.7rem;
}

.kyle-info img {
    max-width: 3rem;
    border-radius: 50%;
}

.kyle-info .kyle-burton {
    color: #070439;
    font-weight: 650;
}





.attribution {
    font-size: 0.6875rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 960px) {

    .about-fylo,
    .fylo-container {
        justify-content: center;
    }

    .about-fylo .fylo-information,
    .fylo-container .about-file {
        max-width: 50rem;
        width: 100%;
        order: 2;
        margin-bottom: 1rem;
    }

    .illustration-one img,
    .illustration-two img {
        width: 100%;
    }

    /* .illustration-two {
        margin-top: -2rem;
    } */

    .fylo-container .about-file {
        margin-top: 2rem;
    }

    .about-file p {
        width: 100%;
    }
}

@media (max-width: 475px) {

    .site-navigation nav {
        gap: 1rem;
        font-size: 0.8rem;
    }

    .site-navigation img {
        max-width: 4rem;
    }

    .form-input #email {
        width: 100%;
    }

    .form-input button {
        display: block;
        width: 100%;
        margin-left: 0;
        margin-top: 1rem;
    }

    .about-file h2 {
        text-align: center;
        font-size: 0.9rem;
    }

    .fylo-works,
    .kyle-quotes {
        justify-self: center;
    }
}