* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';
    margin: 2rem auto;
}

/* site navigation */
header,
main {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.site-navigation,
.about-fylo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 75rem;
    width: 100%;
}

.site-navigation img {
    max-width: 6rem;
    flex: 1 1;
}

.site-navigation nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 2rem;
    flex: 1 1;
    color: #585989;
    font-size: 0.9rem;
    padding: 0.5rem;
    font-family: 'Raleway';
}

.site-navigation nav a {
    text-decoration: none;
    font-weight: 500;
}


/* Main get started section */

.about-fylo {
    justify-content: space-between;
}

.about-fylo .fylo-information {
    max-width: 25rem;
    width: 100%;
    margin-top: 2rem;
    font-family: 'Raleway';
}

.about-fylo .fylo-information h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #070439;
}

.about-fylo .fylo-information p {
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 1rem;
    color: #585989;
}

.illustration-one img {
    max-width: 30rem;
}

.illustration-one {
    margin-top: 2rem;
}

.form-input {
    margin-top: 1rem;
}

.form-input #email {
    padding: 0.4rem 1rem;
    text-align: left;
    color: #585989;
    border: 1px solid #585989;
}

.form-input button {
    padding: 0.46rem 1rem;
    background-color: #3065f8;
    color: #fff;
    border: 1px solid #3065f8;
    font-size: 0.8rem;
    margin-left: 0.4rem;
}

.form-input #email:hover,
button:hover {
    cursor: pointer;
}




.attribution {
    font-size: 0.6875rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 960px) {
    .about-fylo {
        justify-content: center;
    }

    .about-fylo .fylo-information {
        max-width: 50rem;
        width: 100%;
        order: 2;
        margin-bottom: 1rem;
    }

    .illustration-one img {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .about-fylo {
        justify-content: center;
    }

    .about-fylo .fylo-information {
        max-width: 50rem;
        width: 100%;
        order: 2;
        margin-bottom: 1rem;
    }

    .illustration-one img {
        width: 100%;
    }
}

@media (max-width: 475px) {
    header {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .site-navigation nav {
        gap: 1rem;
        font-size: 0.8rem;
    }

    .site-navigation img {
        max-width: 4rem;
    }

    .form-input #email {
        width: 100%;
    }

    .form-input button {
        display: block;
        width: 100%;
        margin-left: 0;
        margin-top: 1rem;
    }
}